body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #fff;
    text-align: center;
    padding: 0 2em;
}

.et-hero-tabs h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-hero-tabs h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    padding: 20px;
}

.et-hero-tab:hover {
    color: white;
    background: rgb(102, 104, 241);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #6668f1;
    transition: left 0.3s ease;
}

.project-slide-image {
    border: 1px solid;
    border-radius: 5px;
    width: 80%;
}

.et-slide {
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.project-slide {
    margin-top: 100px;
}

@media (min-width: 900px) {
    .et-hero-tabs h1 {
        font-size: 3rem;
    }

    .et-hero-tabs h3 {
        font-size: 1.3rem;
    }

    .et-hero-tab {
        font-size: 1.3rem;
    }
}

@media (max-width: 1440px) {
    .et-hero-tab {
        padding: 5px;
        word-break: break-word;
    }

    .et-hero-tabs {
        height: 60vh;
    }

    .et-slide {
        height: auto;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .project-slide {
        flex-direction: column;
    }

    .project-slide-image-div {
        margin-top: 10%;
    }

    .project-slide-images{
        margin-top: 10%;
    }

    .project-slide-image {
        width: 100%;
        height: auto;
    }

    .project-slide-image {
        width: 100%;
    }

    .project-slide {
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .et-hero-tab {
        font-size: 0.5rem;
    }
}
